.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .container{
    max-width: 120px;
    margin: 0 auto;
  }
  .logo img{
    width: 120px;
    margin: -4px 0 0 -18px
  }
.btn:hover{
  color: rgb(28, 218, 59);
}
@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

  .mat-toolbar{
    flex-flow: column;
    width:100%;
    margin-top: 2rem;
    font-size: 3rem;
  }

  

  .mat-toolbar.logo{
    font-size: 4rem;
  }

 
}






